body {
    background-size: 100%;
}

label {
    margin-left: 0.5em;
    cursor: pointer;
}

#submitbutton {
    width:150px;
    height:60px;
    font-size:20px;
    background-color:black;
    text-shadow:black;
    font-family:cursive;
    color:white;
     border-radius: 40px;
     box-shadow: -5px -2px 0 #F8F8FF;
  transform: translate(10px, 10px);
}
.the{
    display: none;
}
.question{
font-family:cursive;
color:white;
}
.correctanswer{
    font-family:cursive;
    color:white;
    display:none;
}
.multiblechoice{
    color:white;
    font-family:cursive;
}
#timer{
color:white;
font-size:30px;
}
#Title{
    color:black;
    font-size:50;
    text-shadow: 5px 2px #F8F8FF;
}
